.container {
    display: grid;
    justify-content: center;
    align-items: center;
}
.img_food img {
    max-width: 100%;
    height: auto;
}
.title {
    display: grid;
    justify-content: center;
    align-items: center;
}
.font-semibold {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-amber-700 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-gray-600 {
    display: flex;
    justify-content: center;
    align-items: center;

}