 .Dash_board {
    width: 100%;
    height: 1280px;
 }

.card {
    height: 200px;
    width: 280px;
    background-color: #7B5E46;
}

body {
    background: #f5efdf;
    font-family: "Noto Sans Lao", sans-serif;
    margin: 0;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card .icon {
    font-size: 24px;
    margin-bottom: 8px;
}

.card h3 {
    margin: 0;
    color: #333;
}

.card .big {
    font-size: 20px;
    font-weight: bold;
}

.card .small {
    font-size: 14px;
    color: #777;
}

/* Layout main content */
.container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
}

.box h2 {
    margin-bottom: 20px;
}

/* Top 5 Items */
.item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.num {
    width: 30px;
    height: 30px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    background: #e0d8c2;
    height: 6px;
    border-radius: 4px;
    overflow: hidden;
    margin: 6px 0;
}

.bar span {
    display: block;
    height: 100%;
    background: #4c3b27;
}

/* Orders */
.order {
    background: #f7f3e8;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-size: 13px;
    color: #888;
}

.price {
    font-weight: bold;
}

.badge {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
    color: white;
}

.wait { background: #a56a0a; }
.process { background: #5670ff; }
.done { background: #2faa3f; }


.popular {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

